/node_modules
*~
*udagram/udagram-api/.sw[mnpcod]
*udagram/udagram-api/.log
*udagram/udagram-api/.tmp
*udagram/udagram-api/.tmp.*
udagram/udagram-api/log.txt
*udagram/udagram-api/.sublime-project
*udagram/udagram-api/.sublime-workspace
udagram/udagram-api/.vscode/
udagram/udagram-api/npm-debug.log*

udagram/udagram-api/.idea/
udagram/udagram-api/.ionic/
udagram/udagram-api/.sourcemaps/
udagram/udagram-api/.sass-cache/
udagram/udagram-api/.tmp/
udagram/udagram-api/.versions/
udagram/udagram-api/coverage/
udagram/udagram-api/www/
udagram/udagram-api/node_modules/
udagram/udagram-api/tmp/
udagram/udagram-api/temp/
udagram/udagram-api/platforms/
udagram/udagram-api/plugins/
udagram/udagram-api/plugins/android.json
udagram/udagram-api/plugins/ios.json
udagram/udagram-api/$RECYCLE.BIN/
udagram/udagram-api/postgres_dev/
udagram/udagram-api/logfile

udagram/udagram-api/.DS_Store
udagram/udagram-api/Thumbs.db
udagram/udagram-api/UserInterfaceState.xcuserstate
udagram/udagram-api/node_modules
udagram/udagram-api/venv/
udagram/udagram-api/set_env.sh
# Elastic Beanstalk Files
udagram/udagram-api/.elasticbeanstalk/*
udagram/udagram-api/!.elasticbeanstalk/*.cfg.yml
udagram/udagram-api/!.elasticbeanstalk/*.global.yml
*udagram/udagram-frontend/~
*udagram/udagram-frontend/.sw[mnpcod]
*udagram/udagram-frontend/.log
*udagram/udagram-frontend/.tmp
*udagram/udagram-frontend/.tmp.*
udagram/udagram-frontend/log.txt
*udagram/udagram-frontend/.sublime-project
*udagram/udagram-frontend/.sublime-workspace
udagram/udagram-frontend/.vscode/
udagram/udagram-frontend/npm-debug.log*

udagram/udagram-frontend/.idea/
udagram/udagram-frontend/.ionic/
udagram/udagram-frontend/.sourcemaps/
udagram/udagram-frontend/.sass-cache/
udagram/udagram-frontend/.tmp/
udagram/udagram-frontend/.versions/
udagram/udagram-frontend/coverage/
udagram/udagram-frontend/www/
udagram/udagram-frontend/node_modules/
udagram/udagram-frontend/tmp/
udagram/udagram-frontend/temp/
udagram/udagram-frontend/platforms/
udagram/udagram-frontend/plugins/
udagram/udagram-frontend/plugins/android.json
udagram/udagram-frontend/plugins/ios.json
udagram/udagram-frontend/$RECYCLE.BIN/

udagram/udagram-frontend/.DS_Store
udagram/udagram-frontend/Thumbs.db
udagram/udagram-frontend/UserInterfaceState.xcuserstate
udagram/udagram-frontend/node_modules
udgram/node_modules

